html {
    margin: -0px;
}

header {
    width: 100%;
    background-color: #eb860e;
    height: 50px;
    display: flex;              /* Flexbox aktivieren */
    justify-content: space-between; /* verteilt H1 links, Bild rechts */
    align-items: center;        /* vertikal mittig */
}


footer {
    width: 100%;
    background-color: #eb860e;
    text-align: center; /* alle Links in die Mitte */
}

.menue-link {
    padding-left: 10%;
    padding-right: 10%;
}

#inhalt {
    margin: 10px auto; /*10px oben und unten, links und rechts wird automatisch*/
    background-color: lightgray;
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
}

.post {
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    background-color: gray;
}

.post-bild {
    width: 75%;             /*75% der Bildschirmbreite*/
    aspect-ratio: 4 / 3;    /*Breite zu Hoehe */
    object-fit: contain;    /*Bild soll voll passen*/
    margin-left: auto;      /*Bild horizontal zentrieren*/
    margin-right: auto;     /*Bild horizontal zentrieren*/
    background: black;
    display: block;         /*Eigne Zeile*/
}

.post-menue {
    text-align: center;     /*Die Symbole zentrieren*/
}

.post-link {
    font-size: 36px;        /*Größe in Pixel*/
    padding-left: 10%;      /*Abstand links*/
    padding-right: 10%;     /*Abstand rechts*/   
}

#neu {
    width: 98%;
    display: block;     /*noetig, damit margin funktioniert */
    margin: 0 auto;
}

#abschicken {
    margin-left: 0.5%;
}

#profilbild {
    width: 32px;
    height: 32px;
    border-radius: 50%; /*rund*/
    object-fit: cover; /*Bild wird zugeschnitten*/
    border: 2px solid black;
}

@media (min-width: 600px) {
    header {
        height: 100px;
    }

    #profilbild {
    width: 64px;
    height: 64px;
    }

    #inhalt {
        width: 80%
    }
}

@media (min-width: 1024px) {
    header {
        height: 150px;

    }

    #profilbild {
    width: 96px;
    height: 96px;
    }

    #inhalt {
        width: 70%;
    }
}